# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

__pycache__/
*.pyc

.venv/
.venv-backend
.venv*/

backend/data/app.db
backend/data/uploads/
backend/data/lessons/
backend/testing_samples/
backend/tests

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

mcp_Manim_Agent/src/manimations/

*:Zone.Identifier
cookies.txt

.git
.codex
.agents
